# IDEs
/.idea
/.project
/nbproject
/.buildpath
/.settings
*.sublime-*
*.AppleDouble
*.AppleDB
*.AppleDesktop
/tests/SprykerEcoTest/Zed/AkeneoPimMiddlewareConnector/_support/_generated/*

vendor/
composer.lock
